.infoTitle{
  width: 170px;height: initial;color: #fff; padding-top: 30px;box-sizing: border-box;
}
.infoBox{margin-left: 10px; flex: 1;background: #fefefe}
.textRebBg{ background: #ec6461;color: #ffffff;padding: 6px 8px;border-radius: 4px;}
.textYellowBg{background: #f4af42; color: #ffffff; padding: 6px 8px; border-radius: 4px;}
.textGreenBg{background: #39c46d; color: #ffffff; padding: 6px 8px; border-radius: 4px;}
.titleBg{background: #fafafa;}
.fontGreenColor{background: #eff8e7;color: #39c46d;padding: 6px 8px; border-radius: 4px;}
.width14{width: 14%}
.width18{width: 18%}
.width20{width: 20%}
.width22{width: 22%}
.width25{width: 25%}
.width33{width: 33.33%}
.width50{width: 50%}
.titleFont{line-height: 55px;}
.titleHeader{ }
.flexAlignItems{align-items: center;}
/* summaryInfo   总体情况style */
.summaryInfo .infoTitle{
  background: #50bfea;
}
.scoreBox{align-items: center;}
.scoreWord{align-items: center; }
.scoreBoxL{width: 42% ;height: 120px;line-height: 120px; padding-left: 20px;}
.scoreImgBox .scoreDot span{
  height: 20px;width: 20px;
  background: url(../images/dot_bg.png) no-repeat center;background-size: 100%;
}
.scoreImgBox .scoreBar{ align-items: flex-start; padding-left: 5px; width: 310px;}
.scoreImgBox .scoreBar span{
  width: 310px;height: 12px;border-radius: 10px;box-sizing: border-box;
  background: -moz-linear-gradient(left, #AA3425, #F9F900,#3D8641);
  background: -o-linear-gradient(left,#AA3425, #F9F900,#3D8641);
  background: -webkit-linear-gradient(left ,#AA3425, #F9F900,#3D8641);
}
.selectDown{
  /* transition:transform 1s; */
  display: inline-block;width: 30px;height: 30px;margin-left: 10px;
  background: url(../images/select_bg.png) no-repeat center;background-size: 60%;
}
.selectUp{
  transform: rotateX(180deg);
}
.ruleTitle{background: #fafafa; box-sizing: border-box;height: 50px;line-height: 50px;}
.ruleTitleL{width: 42%;}
.ruleTitleR{flex: 1;align-items: center;}
.detailList{box-sizing: border-box;height: 50px;line-height: 50px;}
.detailListL{width: 42%;}


/*baseInfoWarp */
.baseInfoWarp{margin-top: 10px;}
/* baseInfo 基本信息*/
.baseInfo .infoTitle{
  background: #5ed3b6;
}
/* telecomInfo 运营商*/
.telecomInfo{margin-top: 10px; }
.telecomInfo .infoTitle{
  background: #c7ac8f;
}

/* 公检法 */
.publicSecurityInfo{margin-top: 10px;}
.publicSecurityInfo .infoTitle {
  background: #fcbe51
}
.negativeInfo .titleList{padding: 30px 26px 30px 20px;}
.negativeInfo > div:nth-child(2n+1) {background: #fafafa;}

/* 网贷逾期信息 */
.overdueInfo{margin-top: 10px;}
.overdueInfo .infoTitle{background: #ec5923;}

/* 多头借贷信息 */
.borrowingInfo{margin-top: 10px;}
.borrowingInfo .infoTitle{background: #f37e53;}

/* 联系人圈子 */
.contactsInfo{margin-top: 10px;}
.contactsInfo .infoTitle{background: #50bfea;}

/* APP注册信息 */
.appInfo{margin-top: 10px;}
.appInfo .infoTitle{background: #f4ad5f;}

/* 历史查询信息 */
.historyInfo{margin-top: 10px;}
.historyInfo .infoTitle{background: #fcbe51;}

/* floorList */
.floorListWarp{
  position: absolute; right: 0;
}
.floorList{
  /* position: absolute; */
}
.floorList .floorItem{
  width: 130px; font-size: 16px; line-height: 50px; text-align: center; color: #ffffff;
  background: #ccc; margin-bottom: 10px; border-radius: 50px;
}
.floorList .floorItem:hover{
  background: #088db8;
}
